  <!DOCTYPE html>
  <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
      <!-- Bootstrap -->
      {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}

      <title>Warehouse management system</title>
    </head>
    <body>
    <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" >Inventory management</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Customers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Suppliers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Locations</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                Inbound
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Inbound products</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                Outbound
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Outbound products</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Move tasks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Transactions</a>
              </li>
            </ul>
            <a class="navbar-text" href="{% url 'logout' %}">
              Logout
            </a>
          </div>
        </div>
      </nav>
  <!-- Navbar -->
      <!-- Load React from CDN -->
      <script src="https://unpkg.com/react/umd/react.development.js"></script>
      <script src="https://unpkg.com/react-dom/umd/react-dom.development.js"></script>
      <!-- Load Babel to transpile JSX to JavaScript -->
      <script src="https://unpkg.com/babel-standalone/babel.min.js"></script>

      {% block body%} {% endblock %}
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    </body>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <small class="d-block mb-3 text-muted">&copy; 2023</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#"
                >Cool stuff</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#"
                >Random feature</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#"
                >Team feature</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#"
                >Stuff for developers</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#"
                >Another one</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#"
                >Last time</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#"
                >Resource</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#"
                >Resource name</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#"
                >Another resource</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#"
                >Final resource</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#">Team</a>
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#"
                >Locations</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#"
                >Privacy</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#">Terms</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer mt-auto py-3 bg-light">
        <div class="container">
          <span class="text-muted"
            >Warehouse management system example, designed and developed by
            ©Dinica Gavril Ovidiu for Roehampton University</span
          >
        </div>
      </div>
    </footer>
  </html>
</html>
